In [2]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df.shape

(16136, 14)

In [5]:
df.describe()

,Period,Data_value,Suppressed,Magnitude,Series_title_4,Series_title_5
count,16136.000000,1.501200e+04,0.0,16136.000000,0.0,0.0
mean,2010.015090,1.420205e+07,NaN,4.193976,NaN,NaN
std,5.267929,7.893087e+07,NaN,2.752252,NaN,NaN
min,2000.010000,-2.700000e+00,NaN,0.000000,NaN,NaN
25%,2006.010000,1.721000e+02,NaN,0.000000,NaN,NaN
50%,2010.060000,1.125200e+03,NaN,6.000000,NaN,NaN
75%,2014.120000,3.848850e+03,NaN,6.000000,NaN,NaN
max,2019.060000,1.766270e+09,NaN,6.000000,NaN,NaN

In [4]:
df.values

array([['ECTA.S19A1', 2001.03, nan, ..., nan, nan, nan],
       ['ECTA.S19A1', 2002.03, nan, ..., nan, nan, nan],
       ['ECTA.S19A1', 2003.03, nan, ..., nan, nan, nan],
       ...,
       ['ECTQ.S4AXP', 2018.12, 46.6, ..., 'Proportion (%)', nan, nan],
       ['ECTQ.S4AXP', 2019.03, 45.8, ..., 'Proportion (%)', nan, nan],
       ['ECTQ.S4AXP', 2019.06, 47.1, ..., 'Proportion (%)', nan, nan]],
      dtype=object)